@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
}

header {
  background-color: #fabe00;
  width: 100%;
  height: 100px;
  line-height: 50px;
  text-align: center;
}

body {
  min-width: 620px;
}

a {
  text-decoration: none;
}

header a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  line-height: 100px;
}

nav {
  width: 100%;
  background-color: #ffe594;
  margin: 0 auto;
  text-align: center;
}

/* nav .wrap {
    width: 100%;
    margin: 0 auto;
} */
nav a {
  font-size: 1.4em;
  display: inline-block;
  width: calc(20% - 10px);
  margin: 0 auto;
  color: #515160;
  line-height: 50px;
  height: 50px;
  text-align: center;
  padding: 0 10px;
  -webkit-transition: .3s;
  transition: .3s;
  margin: 0 auto;
}

nav a:hover {
  background-color: #fff2c7;
  -webkit-transition: .3s;
  transition: .3s;
}

.container h1 {
  text-align: center;
}

.introduce .introTitle {
  width: 50%;
  float: right;
  padding: 5px 10px;
  background-color: #f9c100;
}

.introduce .area {
  width: 80%;
  margin: 20px auto;
}

.introduce img {
  width: 50%;
  min-width: 200px;
  float: left;
}

.introduce .introText {
  width: 50%;
  float: right;
  padding: 10px;
}

.introduce .introInner {
  padding: 0 20px;
}

.clearFix {
  clear: both;
}

footer {
  width: 100%;
  background-color: #f9c100;
  margin-top: 20px;
  padding: 20px;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #aaa;
}

footer .address {
  width: 80%;
  margin: 0 auto;
}

.loginArea {
  background-color: #ffcd2e;
  width: 100%;
  height: 100vh;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

table {
  /* border: 1px solid white; */
  font-size: 28px;
  padding: 10px;
  margin: 0 auto;
}

table input {
  font-size: 20px;
  margin: 10px;
}

.highLight {
  background-color: #fff2c7;
}

table input {
  border: none;
  width: 300px;
  border-bottom: 2px solid white;
  padding: 10px;
  background-color: transparent;
  color: black;
}

table input::-webkit-input-placeholder {
  color: #aaa;
}

table input:-ms-input-placeholder {
  color: #aaa;
}

table input::-ms-input-placeholder {
  color: #aaa;
}

table input::placeholder {
  color: #aaa;
}

table input:focus {
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}

table input:focus::-webkit-input-placeholder {
  color: #777;
}

table input:focus:-ms-input-placeholder {
  color: #777;
}

table input:focus::-ms-input-placeholder {
  color: #777;
}

table input:focus::placeholder {
  color: #777;
}

input[type="submit"] {
  border: 0;
  font-size: 24px;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #947000;
  padding: 14px 40px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  -webkit-transition: .25s;
  transition: .25s;
  cursor: pointer;
}

input[type="submit"]:hover {
  color: white;
  background-color: #ffcd2e;
  width: 250px;
  -webkit-transition: .3s;
  transition: .3s;
}

.registerArea {
  background-color: #ffcd2e;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

.renterWall {
  width: 80%;
  min-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  height: 100vh;
}

.renterWall .card {
  display: inline-block;
  width: calc(150px - 20px);
  height: 150px;
  -webkit-box-shadow: 0px 0px 10px;
          box-shadow: 0px 0px 10px;
  border-radius: 20px;
  margin: 10px;
  line-height: 80px;
}

.renterWall .card a {
  position: relative;
  top: 20px;
}

.renterWall .card i {
  font-size: 5rem;
  color: black;
}

.center {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

header h1 {
  color: white;
}

.applyArea {
  background-color: #ffcd2e;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  text-align: right;
}

.applyArea td:nth-child(odd) {
  text-align: right;
}

.applyArea select {
  display: block;
  height: 32px;
  line-height: 32px;
  font-size: 22px;
  width: 300px;
  margin: 20px auto;
  border: none;
}

.applyArea select:focus {
  border: none;
}

.container .applyResultArea {
  background-color: #ffcd2e;
  width: 100%;
  height: 100vh;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

.container .applyResultArea td:nth-child(odd) {
  text-align: right;
}

.container .applyResultArea select {
  display: block;
  height: 32px;
  line-height: 32px;
  font-size: 22px;
  width: 300px;
  margin: 20px auto;
  border: none;
}

.container .applyResultArea select:focus {
  border: none;
}

.applyForm table,
.queryForm table {
  background-color: #ffd961;
  color: #222;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0px;
  border: none;
  border-collapse: collapse;
  /* padding: 0; */
}

.applyForm table:nth-child(even),
.queryForm table:nth-child(even) {
  margin-bottom: 20px;
}

.applyForm th,
.applyForm td,
.queryForm th,
.queryForm td {
  width: 50%;
  text-align: center;
  font-size: 26px;
  /* border-bottom: 1px solid #efeeee; */
}

.applyForm thead tr,
.queryForm thead tr {
  color: #444;
  background-color: #fabe00;
}

.applyForm tbody:nth-child(even) tr,
.queryForm tbody:nth-child(even) tr {
  border-bottom: 2px solid #f5ba00;
}

.applyForm tbody:nth-child(odd),
.queryForm tbody:nth-child(odd) {
  border-bottom: none;
}

.container .queryArea {
  background-color: #fabe00;
  height: 100vh;
}

.container .queryArea td:nth-child(odd) {
  text-align: right;
}

.container .queryArea select {
  height: 32px;
  line-height: 32px;
  font-size: 22px;
  width: 150px;
  margin: 20px auto;
  border: none;
}

.container .queryArea select:focus {
  border: none;
}

.container .queryAreaResult table {
  background-color: #ffd961;
  color: #222;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0px;
  border: none;
  border-collapse: collapse;
  /* padding: 0; */
}

.container .queryAreaResult table:nth-child(even) {
  margin-bottom: 20px;
}

.container .queryAreaResult th,
.container .queryAreaResult td {
  width: 50%;
  text-align: center;
  font-size: 26px;
  /* border-bottom: 1px solid #efeeee; */
}

.container .queryAreaResult thead tr {
  color: #444;
  background-color: #fabe00;
}

.container .queryAreaResult tbody:nth-child(even) tr {
  border-bottom: 2px solid #f5ba00;
}

.container .queryAreaResult tbody:nth-child(odd) {
  border-bottom: none;
}

.container .confirmApplyArea table {
  background-color: #ffd961;
  color: #222;
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  border: none;
  border-collapse: collapse;
  /* padding: 0; */
}

.container .confirmApplyArea table:nth-child(even) {
  margin-bottom: 20px;
}

.container .confirmApplyArea th,
.container .confirmApplyArea td {
  width: 12.5%;
  text-align: center;
  font-size: 22px;
  /* border-bottom: 1px solid #efeeee; */
}

.container .confirmApplyArea thead tr {
  color: #444;
  background-color: #fabe00;
}

.container .confirmApplyArea tbody:nth-child(even) tr {
  border-bottom: 2px solid #f5ba00;
}

.container .confirmApplyArea tbody:nth-child(odd) {
  border-bottom: none;
}

.container .confirmApplyArea tr:nth-child(even) {
  background-color: #fff;
  margin-bottom: 20px;
  height: 80px;
}

.container .confirmApplyArea .confirmButton {
  width: 90px;
  text-align: center;
  float: right;
  position: relative;
  top: -12px;
}

.container .confirmApplyArea .confirmButton a {
  display: inline;
  font-size: 30px;
  color: white;
}

.container .confirmApplyArea .confirmButton .yes {
  display: inline-block;
  background-color: #6cd46c;
  border-radius: 20px;
  width: 40px;
}

.container .confirmApplyArea .confirmButton .yes:hover {
  background-color: #268126;
}

.container .confirmApplyArea .confirmButton .no {
  display: inline-block;
  background-color: #eea0a0;
  border-radius: 20px;
  width: 40px;
}

.container .confirmApplyArea .confirmButton .no:hover {
  background-color: #d02525;
}

.container .myFormArea table {
  background-color: #ffd961;
  color: #222;
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  border: none;
  border-collapse: collapse;
  /* padding: 0; */
}

.container .myFormArea table:nth-child(even) {
  margin-bottom: 20px;
}

.container .myFormArea th,
.container .myFormArea td {
  width: 8%;
  text-align: center;
  font-size: 20px;
  /* border-bottom: 1px solid #efeeee; */
}

.container .myFormArea thead tr {
  color: #444;
  background-color: #fabe00;
}

.container .myFormArea tbody:nth-child(even) tr {
  border-bottom: 2px solid #f5ba00;
}

.container .myFormArea tbody:nth-child(odd) {
  border-bottom: none;
}

.container .myFormArea tr:nth-child(even) {
  background-color: #fff;
}

.container .historyRenterArea table {
  background-color: #ffd961;
  color: #222;
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  border: none;
  border-collapse: collapse;
  /* padding: 0; */
}

.container .historyRenterArea table:nth-child(even) {
  margin-bottom: 20px;
}

.container .historyRenterArea th,
.container .historyRenterArea td {
  width: 12.5%;
  text-align: center;
  font-size: 20px;
  /* border-bottom: 1px solid #efeeee; */
}

.container .historyRenterArea thead tr {
  color: #444;
  background-color: #fabe00;
}

.container .historyRenterArea tbody:nth-child(even) tr {
  border-bottom: 2px solid #f5ba00;
}

.container .historyRenterArea tbody:nth-child(odd) {
  border-bottom: none;
}

.container .historyRenterArea tr:nth-child(even) {
  background-color: #fff;
  margin-bottom: 20px;
  height: 80px;
}

.container .historyUndertakerArea table {
  background-color: #ffd961;
  color: #222;
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  border: none;
  border-collapse: collapse;
  /* padding: 0; */
}

.container .historyUndertakerArea table:nth-child(even) {
  margin-bottom: 20px;
}

.container .historyUndertakerArea th,
.container .historyUndertakerArea td {
  width: 12.5%;
  text-align: center;
  font-size: 20px;
  /* border-bottom: 1px solid #efeeee; */
}

.container .historyUndertakerArea thead tr {
  color: #444;
  background-color: #fabe00;
}

.container .historyUndertakerArea tbody:nth-child(even) tr {
  border-bottom: 2px solid #f5ba00;
}

.container .historyUndertakerArea tbody:nth-child(odd) {
  border-bottom: none;
}

.container .historyUndertakerArea tr:nth-child(even) {
  background-color: #fff;
}

.container .applyEditArea table {
  background-color: #ffd961;
  color: #222;
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  border: none;
  border-collapse: collapse;
  /* padding: 0; */
}

.container .applyEditArea table:nth-child(even) {
  margin-bottom: 20px;
}

.container .applyEditArea th,
.container .applyEditArea td {
  width: 5%;
  text-align: center;
  font-size: 20px;
  /* border-bottom: 1px solid #efeeee; */
}

.container .applyEditArea thead tr {
  color: #444;
  background-color: #fabe00;
}

.container .applyEditArea tbody:nth-child(even) tr {
  border-bottom: 2px solid #f5ba00;
}

.container .applyEditArea tbody:nth-child(odd) {
  border-bottom: none;
}

.container .applyEditArea tr:nth-child(even) {
  background-color: #fff;
}

.container .applyEditArea td a {
  color: #947000;
}

.container .applyEditArea td a:hover {
  color: #c79700;
}

.container .userEditArea table {
  background-color: #ffd961;
  color: #222;
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  border: none;
  border-collapse: collapse;
  /* padding: 0; */
}

.container .userEditArea table:nth-child(even) {
  margin-bottom: 20px;
}

.container .userEditArea th,
.container .userEditArea td {
  width: 5%;
  text-align: center;
  font-size: 20px;
  /* border-bottom: 1px solid #efeeee; */
}

.container .userEditArea thead tr {
  color: #444;
  background-color: #fabe00;
}

.container .userEditArea tbody:nth-child(even) tr {
  border-bottom: 2px solid #f5ba00;
}

.container .userEditArea tbody:nth-child(odd) {
  border-bottom: none;
}

.container .userEditArea tr:nth-child(even) {
  background-color: #fff;
}

.container .userEditArea td a {
  color: #947000;
}

.container .userEditArea td a:hover {
  color: #c79700;
}

.adminArea .renterWall .card .cardIntro {
  position: relative;
  top: -20px;
}
/*# sourceMappingURL=main.css.map */